.footer {
  background-color: white;
  color: black;
  width: 100%;
  padding-top: 1rem;
  margin-top: 2rem;
}

.heading {
  color: black;
  max-width: 1010px;
  width: 90%;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  
}

.content {
  display: flex;
  justify-content: space-evenly;
  margin: 1.5rem;
}

.content p {
  margin-bottom: 1.3rem;
}

.a {
  text-decoration: none;
  color: #fefefe;
}
.a:hover {
  border-bottom: 1px solid #971717;
}

.footer .content h4 {
  margin-bottom: 1.3rem;
  font-size: 19px;
}


/* Responsive styles remain the same */

@media (max-width: 767px) {
  .footer .content {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    text-align: center;
    gap: 1rem;
  }

  .footer {
    position: unset;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer .content,
  .footer {
    font-size: 14px;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .footer {
    position: unset;
  }
}