

.latest{
    display: flex;
    align-items: center;
}

.header{
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    color: white;
    padding: 20px 0;
}


.main {
    text-align: center;
    padding: 50px 20px;
    background-color: #121212;
    color: #ffffff;
    min-height: 100vh;
  }
  
  .goodbyeContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .header {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ffcc00;
  }
  
  .message {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  .signature {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
  }
  


.band{
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;

    @media (min-width: 30em) {
        grid-template-columns: 1fr 1fr;
        padding: 1rem;
    }
      
    @media (min-width: 60em) {
        grid-template-columns: repeat(5, 1fr);
        padding: 1rem;
      }
}

@media (max-width: 700px) {

    .band{
        width: 100%;
        grid-template-columns: repeat(2, 0.5fr);
        overflow: hidden;
    }
}