.blog{
    padding: auto;
    box-sizing: border-box;
}
.wrapper{
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.authText{
    margin-top: 20px;
    font-size: 15px;
    text-align: right;
    font-size: 30px;
}
.head{
    margin-bottom: 20px;
    font-size: 30px;
}
.cover{
    max-height: 80vh;
}
.content{
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.download{
    margin-top: 20px;
    margin-bottom: 50px;
    color: #ffffff;
    padding: 18px 32px;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    border-radius: 50px;
    border: 1px solid #2E2E2E;
    display: inline-block;
    border: none;
    background-color: #14E0AE;
    cursor: pointer;
}


@media (max-width: 360px){
    .wrapper{
        width: 70%;
        margin: auto;

    }
    .cover{
        width: 60%;
        min-height: 30vh;
    }
    .download{
        margin: 1rem;
        width: 100%;

    }
    .trailer{
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 75%;
    }
    .trailer:only-child{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
    .content{
        width: 100%;
        overflow: hidden;
    }
    

    
}

@media (max-width: 620px) {
    .cover{
        width: 100%;
        overflow: hidden;
        height: 100%;
    }    
}